# Node-related
node_modules/
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
*.log

# Env config (API keys)
.env
.env.local

# Docker
*.tar
*.pid

# VSCode / IDE
.vscode/
.idea/

